# TeleSoul SSH 配置
# 最后更新: 2024-03-21

# 基本配置
Port 22
Protocol 2
AddressFamily any
ListenAddress 0.0.0.0

# 安全配置
PermitRootLogin no
PasswordAuthentication no
PubkeyAuthentication yes
AuthorizedKeysFile .ssh/authorized_keys
PermitEmptyPasswords no
ChallengeResponseAuthentication no
UsePAM yes

# 登录配置
LoginGraceTime 30
MaxAuthTries 3
MaxSessions 10
MaxStartups 10:30:60

# 会话配置
ClientAliveInterval 300
ClientAliveCountMax 3
TCPKeepAlive yes
Compression delayed

# 日志配置
SyslogFacility AUTH
LogLevel INFO

# 转发配置
AllowAgentForwarding yes
AllowTcpForwarding yes
GatewayPorts no
X11Forwarding no
PermitTunnel no

# 其他配置
PrintMotd no
PrintLastLog yes
Banner none
DebianBanner no
StrictModes yes
Subsystem sftp /usr/lib/openssh/sftp-server

# 访问控制
AllowUsers {{ ssh_allowed_users | default('telesoul deploy') }}
DenyUsers {{ ssh_denied_users | default('') }}
AllowGroups {{ ssh_allowed_groups | default('sudo') }}
DenyGroups {{ ssh_denied_groups | default('') }} 